<header>
  <nav class="grid">
    <div class="row">
      <div class="col col-3">
        <a href="#" aria-label="logo">
          <img src="img/mysteryLogo.png" alt="" class="logo">
        </a>
      </div>
      <div class="col col-9 sites">
        <ul>
          <li><a href="#" class="active">HOME</a></li>
          <li><a href="/about">WHAT WE DO</a></li>
          <li><a href="#">WHO WE ARE</a></li>
          <li><a href="#">PRACTICAL INFO</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>