<!doctype html>
<html lang="is">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mystery Productions</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="icon" href="./img/mysteryLogo.png" type="image/x-icon">
</head>

<body>
    <%- include('header') -%>
    <img src="./img/horizon_00364590-1030x412.jpg" alt="" class="banner">

    <main class="grid">
      <%- include('projects') -%>
    </main>

<%- include ('footer') -%>
</body>
</html>
