<section class="row projects">
  <div class="col col-4 proj">
    <div class="cover-img-container">
      <img src="./img/MovieCovers/bakk.jpg" alt="">
    </div>
    <div class="movieInfo">
      <h2>Title:</h2><p>Reverse</p>
      <h3>Directed by:</h3><p>Davíð Óskar Ólafsson, Gunnar Hansson</p>
      <h3>Stars:</h3><p>Jóhannes Haukur Jóhannesson, Ólafur Darri Ólafsson, Nína Dögg Filippusdóttir</p>
      <h3>Description:</h3>
      <p>Two childhood friends decide to drive around Iceland in reverse. Soon after their trip starts they find out that this was perhaps not the best idea in the world. Nothing goes as planned and almost everything goes wrong.</p>
    </div>
  </div>

  <div class="col col-4 proj">
    <div class="cover-img-container">
      <img src="./img/MovieCovers/either_way.jpg" alt="">
    </div>
    <div class="movieInfo">
      <h1>Either Way</h1>
      <h3>Directed by:</h3><p>Hafsteinn Gunnar Sigurðsson</p>
      <h3>Stars:</h3><p>Hilmar Guðjónsson, Sveinn Ólafur Gunnarsson, Þorsteinn Bachmann</p>
      <h3>Description:</h3><p>Two employees of the Icelandic Road Administration spend the summer painting lines on the winding roads as they both find themselves at a crossroads in their lives.</p>
    </div>
  </div>

  <div class="col col-4 proj">
    <div class="cover-img-container">
      <img src="./img/MovieCovers/fangar_prisoners.jpg" alt="">
    </div>
    <div class="movieInfo">
      <h2>Title:</h2><p>Fangar - Prisoners</p>
      <h3>Directed by:</h3><p>Ragnar Bragason</p>
      <h3>Stars:</h3><p>Nína Dögg Filippusdóttir, Aldís Amah Hamilton, Maria Thelma Smáradóttir</p>
      <h3>Description:</h3><p>Linda is sent to serve time in Iceland's only women's prison for a vicious assault that leaves her father in a coma. But no-one knows that she harbors a dark secret that could tear her family apart, a secret that could set her free.</p>
    </div>
  </div>
</section>