<form method="post" action="/users/register" enctype="application/x-www-form-urlencoded">
  <legend>Nýr viðburður</legend>
  <div class="field">
    <label for="name">Nafn*:</label>
      <input type="text" id="name" name="name" class="">
  </div>

  <div class="field">
    <label for="description">Lýsing*:</label>
      <textarea type="text" name="description"class=""></textarea>
  </div>
  <button>Skrá viðburð</button>
</form>