@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

$max-width: 85vw;
$columns: 12;
$gutter: 30px;
$baseFontSize: 16px;
$titleColor: rgb(71, 62, 62);
$baseColor: rgb(242, 245, 239);

// Fonts
$font-shadows-into-light: 'Shadows Into Light', cursive;
$font-roboto-flex: 'Roboto Flex', sans-serif;